.ws_info_box {
  display: flex;
  position: relative;
  align-items: center;
  width: 200px;
  height: 100px;
  border: 1px solid black;
  margin: 8px;
}

.ws_title {
  width: 60%;
  height: 20%;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.3);
}

.ws_img {
  border-radius: 50%;
  height: 60px;
  width: 60px;
  border: 1px solid black;
  text-align: center;
  font-size: 80px;
  margin: 0 8px;
}

.ws_division {
  position: absolute;
  top: 0;
  right: 0;
  padding: 4px;
  margin: 4px;
  background-color: rgba(0,0,0,0.5);
}

.ws_list_wrapper {
  display: flex;
}
